
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #222;
}

.container {
    background-color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 500px;
    height: 350px;
    border: 1px solid black;
    margin: 20px auto;
    /* overflow: hidden; */
    border: 3px solid #222;
    border-radius: 15px;
    box-shadow: 12px 5px 12px #111;
}

.ball {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #111;
    background-color: rgb(61, 141, 231);
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#ball1 {
    top: 80px;
    bottom: 100px;
    left: 50px;
    animation-duration: .82s;
}

#ball1:hover{
    background-color: transparent;
    border-top: transparent;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid black;
    color: white;
}

#ball2 {
    top: 60px;
    bottom: 55px;
    left: 230px;
    animation-duration: 1.5s;
    background-color: chocolate;
}

#ball2:hover{
    background-color: yellow;
    width: 120px;
    height: 70px;
    left: 200px;
    border-radius: 1px;
    transform: scale(140%);
    border-radius: 1px solid #222;
       
}

.pie{
    margin-top: 120px;
}


#ball3 {
    top: 40px;
    bottom: 200px;
    left: 400px;
    animation-duration: 3s;
    background-color: darkgreen;
}

#ball3:hover{  
    background-color: blue;
    width: 70px;
    height: 70px;
    border-radius: 1px;
    transform: scale(120%);

}

footer{
    text-align: center;
    color: beige;
    font-size: 18px;
    
}

footer > a {
    text-decoration: none;
}

footer > a > span {
    color: white;
    transition: .3s ease;
    font-weight: 900;
}

footer > a > span:hover{
    color: rgb(37, 165, 250);
    
}

footer > a:hover{
    color: rgb(37, 51, 250);
    text-decoration: underline;
    
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(180px);
    }
    100% {
        transform: translateY(0);
    }
}

